header {
    background-color: #f2bd99;
    padding: 36px;
}

main {
    padding: 15px;
}

footer {
    background-color: #f2bd99;
    padding: 36px;
}

#navhead {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    justify-content: flex-end;
    align-content: center;
    background-color: #523e27;
}

#homehead {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 150px;
}

#homefoot {
    display: flex;
    align-content: center;
    width: 200px;
}

h6 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    color: #523e27;
}
