nav {
    background-color: salmon;
    padding: 0px;
}

#main-nav {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
}

li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightsalmon;
    padding: 10px;
    border-radius: 5px;
}

a:link {
    color: lightseagreen;
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
    display: flex;
    align-content: flex-start;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 35px;
    color: salmon;
}

body {
    background-color: seashell;
}

.menu-dd {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px;
    border: 2px solid lightseagreen;
    position: absolute;
    opacity: 0;
    align-content: flex-start;
    transition-duration: .5s;
    background-color: salmon;
}

.dropdown:hover .menu-dd {
    opacity: 1;
}

ul {
    display: flex;
}

p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 0;
}

img {
    width: 600px;
}

/* Media Query
@media only screen and (max-width: 768px) {

    ul {
        flex-direction: column;
} */