table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 3px solid green;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid grey;
}

tr:hover {
    background-color: lightgrey;
    color: green;
}

th {
    color: white;
    background-color: green;
}

