header {
   background-image: url(/FinalEval/assets/background.jpeg);
   align-content: center;
   color: aliceblue;
}

#email {
    height: 40px;
    width: 600px;
}

#submit {
    color: aliceblue;
    background-color: blue;
    height: 40px;
}

nav {
    background-color: black;
}

button {
    padding: 3px;
    color: aliceblue;
}

#signup {
    background-color: blue;
}

#login {
    background-color: black;
}

main {
    background-color: black;
}


.card-group {
    background-color: black;
    color: aliceblue
}

.card-body {
    background-color: black;
}

footer {
    background-color: black;
    color: aliceblue;
    display: flex;
    align-content: center;
}

br {
    background-color: black;
    color: black;
}

body {
    background-color: black;
}

@media screen and (max-width: 480px) {
    main {
        grid-template-columns: 10% 80% 10%;
    }
}