h1 {
    color:blueviolet;
    background-color:aquamarine;
}

p {
    color:blue;
}

#container1 {
    background-color:aqua;
    border: black 5px dotted;
}

#container2 { 
    background-color: darkgreen;
    height: 500px;
}