table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 5px;
}

th {
    background-color: blue;
    color: yellow;
}

tr:nth-child(even) {
    background-color: gold;
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
}

tr:nth-child(odd) {
    background-color: royalblue;
    color: gold;
    font-family: 'Courier New', Courier, monospace;
}

caption {
    color: blue;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}